<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>

<script type="text/javascript">

	var selectedWell = null;
	var chart = null;
	var dataPoints = [];
	var annotations = [];
	var projectId = '<%= project.assetId %>';
	var projectName = '<%= project.name %>';
	var wellId = '<%= wellId %>';

	$(document).ready(function () {

		$('#saveBtn').click(saveAnnotation);
		$('#rightPanel').hide();

		initChart();

		if(wellId !== undefined){
			window.setTimeout(function(){
				chart.setSelection([{row: wellId - 1, column:null}]);
				selectHandler();
			}, 1200);
		}
	});

	function saveAnnotation(){

		if($('#annotationText').val().length === 0){
			return;
		}

		var annotationUrl = 'http://localhost:1337/plate/view?assetId=' + projectId;
		annotationUrl += '&projectName=' + projectName;
		annotationUrl += '&wellId=' + selectedWell;
		
		var annotation = {
			userId: 'ferdingler@gmail.com',
			assetId: projectId,
			comment: $('#annotationText').val(),
			url: annotationUrl,
			metadata: {
				wellId: selectedWell,
				project: 'My Demo Project'
			}
		};

		$.ajax({
		  type: "POST",
		  url: '/annotation',
		  data: annotation,
		  dataType: 'application/json'
		});

		window.setTimeout(function(){
			$('#annotationText').val('');
			initChart();
		}, 500);
	}

    function drawChart() {

		$.each(annotations, function( index, value ) {
		  	var wellNumber = value.metadata.wellId;
			dataPoints[wellNumber][3] = 'Annotated';
		});

		var wells = google.visualization.arrayToDataTable(dataPoints);

      	var options = {
      		animation: {
      			easing: 'inAndOut',
      			duration: 3000
      		},
        	title: 'Sample Plate',
        	hAxis: {minValue: 12},
        	vAxis: {minValue: 12},
        	bubble: {textStyle: {fontSize: 11}},
        	legend: {
        		position: 'none'
        	},
        	series: {
        		'Annotated': {color: '#D61515'},
        		'Not annotated': {color: '#239632'}
        	}
      	};

      	chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
      	chart.draw(wells, options);

      	google.visualization.events.addListener(chart, 'select', selectHandler);
    }

    function selectHandler(e) {
		var selection = chart.getSelection();
		if(selection.length > 0){
			var itemNumber = selection[0].row + 1;
			var item = dataPoints[itemNumber];
			selectedWell = item[0];
			$('#rightPanel').show();
			$('#selectedWellId').html(selectedWell);
			displayAnnotations();
		}else{
			selectedWell = null;
			$('#rightPanel').hide();
		}
	}

	function initChart(){
		getAnnotations();
	}

	function loadPlate(){
		$.get( "/plate/dummyPlate", function(data) {
			dataPoints = data;
			drawChart();
		});
	}

	function getAnnotations(){
		$.get( "/annotation/" + projectId, function(data) {
			annotations = data;
			loadPlate();
			displayAnnotations();
		});
	}

	function displayAnnotations(){

		if(selectedWell === null){
			return;
		}

		var anns = [];
		$.each(annotations, function( index, value ) {
			if(value.metadata.wellId === selectedWell){
				anns.push(value);
			}
		});

		$('#annotationsList').html('');
		$.each(anns, function( index, value ) {
			var timestamp = value.createdAt.substring(0, 10);
			var item = '<a href="#" class="list-group-item"><span>'+value.comment+'</span><br><span class="text-muted">On '+ timestamp + ' by ' + value.userId+'</span></a>';
		  	$('#annotationsList').append(item);
		});
	}
</script>

<div class="row">
	<div class="page-header">
	  <h1>
	  	<span><%= project.name %></span>
	  	<small><%= project.assetId %> 
	  		&nbsp;&nbsp;&nbsp;&nbsp;
	  		<a href="http://localhost.lifetechnologies.com:9002">
	  			<span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
	  			Data Manager
	  		</a>
	  	</small>
	  </h1>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<div id="series_chart_div" style="width: 900px; height: 500px;">
			
		</div>
	</div>
	<div class="col-md-4">
		<div id="rightPanel">
			<div class="panel panel-default" id="annotationsView" style="margin-top: 25px">
				<div class="panel-heading">
				    <h3 class="panel-title">Annotations</h3>
				  </div>
				<div class="list-group" id="annotationsList">

				</div>
				<div class="panel-body addAnnotation">
					<textarea id="annotationText" rows="3" cols="25" class="form-control" placeholder="Type text for adding annotation on this well"></textarea>
				</div>
				<div class="panel-footer">
					<button class="btn btn-primary" id="saveBtn">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>